--swiftversion 6.0
--indent 4
--tabwidth 4
--indentcase false
--allman false
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 120
--linebreaks lf
--semicolons never
--commas always
--trimwhitespace always
--importgrouping testable-last
--header strip
--enable isEmpty
--disable redundantSelf
--disable trailingCommas
--disable unusedArguments
--exclude .build,.swiftpm
